<div class="container text-center">
 <h3>Welcome to AnimeSatu.com</h3>
 <p><em>Silahkan pilih fansub yang kamu suka</em></p>
 <p>Update Setiap Menit!</p>
 <br>
 <div class="row">
   <div class="12">
     <p><strong>AnimeSatu</strong></p><br>
     <%= link_to "#", target: :_blank do %>
      <%= image_tag "https://2.bp.blogspot.com/-tpWGSJFOJuw/WPR-lHwC_II/AAAAAAAAAUo/Tz5nsIGyAdMDkMFEz1BMf7gcq6wyj1uTgCLcB/s1600/Symbol_dragon.png", size: "100x100", class: "img-circle" %>
     <% end %>
   </div>
 </div>
 <br>
  <div class="row">
   <div class="col-sm-4">
     <p><strong>Oploverz</strong></p><br>
     <%= link_to oploverzs_path, target: :_blank do %>
      <%= image_tag "https://2.bp.blogspot.com/-zr3W7ZmD9EQ/WPR-l1PnTpI/AAAAAAAAAU4/3LUYpOjE1Nc1iS9m-xJbhvB1Y8EMKiDvgCLcB/s1600/Symbol_fox.png", size: "100x100", class: "img-circle" %>
     <% end %>
   </div>
   <div class="col-sm-4">
     <p><strong>Samehadaku</strong></p><br>
     <%= link_to sames_path, target: :_blank do %>
      <%= image_tag "https://4.bp.blogspot.com/-l_QcigcvIAo/WPR-ma3J7nI/AAAAAAAAAVA/n9h9frE02aIaJ4fNPr-DyrFUungemBAZQCLcB/s1600/Symbol_serpent.png", size: "100x100", class: "img-circle" %>
     <% end %>
   </div>
   <div class="col-sm-4">
     <p><strong>Melodysubs</strong></p><br>
     <%= link_to melodies_path, target: :_blank do %>
      <%= image_tag "https://4.bp.blogspot.com/-VhKJJbRU2ww/WPR-ltJaBlI/AAAAAAAAAU0/N6X3zBTuH3k0HfjFo6TwgM-0J65zLbUegCLcB/s1600/Symbol_goat.png", size: "100x100", class: "img-circle" %>
     <% end %>
   </div>
 </div>
 <br>
 <br>
 <br>
 <div class="row">
   <div class="col-sm-4">
     <p><strong>Tonansubs</strong></p><br>
     <%= link_to tonans_path, target: :_blank do %>
      <%= image_tag "https://4.bp.blogspot.com/-wNxCZpV7aXw/WPR-mHXOC5I/AAAAAAAAAU8/-Z6-QTaaokc7C8iLA4GA845J6tKgNGrawCLcB/s1600/Symbol_of_Lion.png", size: "100x100", class: "img-circle" %>
     <% end %>
   </div>
   <div class="col-sm-4">
     <p><strong>Empty</strong></p><br>
     <%= link_to "#" do %>
      <%= image_tag "https://3.bp.blogspot.com/-nFSgexclt-8/WPR-lbt8MDI/AAAAAAAAAUw/ko3aU0tFsqoVoBZrdr6jrHQbblMYYUGQwCLcB/s1600/Symbol_boar.png", size: "100x100", class: "img-circle" %>
     <% end %>
   </div>
   <div class="col-sm-4">
     <p><strong>Awsubs</strong></p><br>
     <%= link_to awsubs_path, target: :_blank do %>
      <%= image_tag "https://1.bp.blogspot.com/--d4K_Uj2ze0/WPR-m9CrXEI/AAAAAAAAAVE/VFRRvC_8DPQQDTwul7okor2-ldiCfXymQCLcB/s1600/tumblr_inline_nh4nxivcUh1t7pj9e.png", size: "100x100", class: "img-circle" %>
     <% end %>
   </div>
 </div>
</div>
