<p id="notice"><%= notice %></p>


<div class="container">
  <div class="header">
    <h3>
      <%= @melody.mtitle %>
    </h3>
  </div>
<br>

  <div class="row">
    <div class="col-sm-2 col-xs-2">
      <% if @melody.mimages.blank? %>
        <%= image_tag "http://gsbikerstienen.be/data/uploads/images/leden/no_image.png", class: "thumbnail" %>
      <% else %>
        <% @mimages.each do |image| %>
          <%= image_tag image.url, class: "img-thumbnail", size: "200x200" %>
        <% end %>
      <% end %>
      <br>
      <br>
      <%= social_share_button_tag(@melody.mtitle) %>
    </div>

    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">Sinopsis</div>
        <div class="panel-body">
          <%= @melody.msinop %>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
        <h3 class="panel-title">Streaming Link</h3>
      </div>
        <div class="panel-body">
          <% @mistreams.each do |mistream| %>
              <%= @mistream.url  %>
            <% end %>
        </div>
    </div>

    <div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Small Size Link</h3>
    </div>
      <div class="panel-body">
        <%= auto_link(@melody.msmall, :html => { :target => '_blank' }) %>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Medium Size Link</h3>
      </div>
      <div class="panel-body">
        <%= auto_link(@melody.mmedium, :html => { :target => '_blank' }) %>
      </div>
    </div>

    </div>
    </div>
    <%= render 'disqus' %>
  </div>
</div>
<!--
<%= link_to 'Edit', edit_melody_path(@melody) %> |
<%= link_to 'Back', melodies_path %> -->
<br>
