<p id="notice"><%= notice %></p>


<div class="container">
  <div class="header">
    <h3>
      <%= @tonan.title %>
    </h3>
  </div>
<br>

  <div class="row">
    <div class="col-md-2">
      <% if @tonan.timages.blank? %>
        <%= image_tag "http://gsbikerstienen.be/data/uploads/images/leden/no_image.png", class: "thumbnail" %>
      <% else %>
        <% @timages.each do |image| %>
          <%= image_tag image.url, class: "img-thumbnail", size: "200x200" %>
        <% end %>
      <% end %>
      <br>
      <br>
      <%= social_share_button_tag(@tonan.title) %>
    </div>

    <div class="col-md-10">

      <div class="panel panel-default">
        <div class="panel-heading">Basic Information</div>
        <div class="panel-body">
          <% if @tonan.sinop.blank? %>
            <h2>Tidak ada sinopsis</h2>
          <% else %>
            <%= @tonan.sinop %>
            <% end %>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
        <h3 class="panel-title">Guide</h3>
      </div>
        <div class="panel-body">
          <br>
            <p>Link Download Sesuai Urutan dari Sumbernya. Terima Kasih Karena Sudah Mendownload Disini. Jangan Lupa di Share yah ^^</p>
            <!-- <br> -->
            <!-- <p>Elsfile | Google Drive | DataFile | ZippyShare | Mirror</p> -->
            <br>
        </div>
    </div>

    <div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Small Size Link</h3>
    </div>
      <div class="panel-body">
        <%= auto_link(@tonan.small, :html => { :target => '_blank' }) %>
      </div>
    </div>
    <br>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Medium Size Link</h3>
      </div>
      <div class="panel-body">
        <%= auto_link(@tonan.medium, :html => { :target => '_blank' }) %>
      </div>
    </div>

    </div>
  </div>
  <%= render 'disqus' %>
</div>
<br>
<!--
<%= link_to 'Edit', edit_tonan_path(@tonan) %> |
<%= link_to 'Back', tonans_path %> -->
