<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-header navbar-center">
      <%= link_to "AnimeSatu", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Oploverz", oploverzs_path %></li>
      <li><%= link_to "Samehadaku", sames_path %></li>
      <li><%= link_to "Melodysubs", melodies_path %></li>
      <li><%= link_to "Tonansubs", tonans_path %></li>
      <li><%= link_to "Awsubs", awsubs_path %></li>
    </ul>
  </div>
</nav>
