<!DOCTYPE html>
<html>
  <head>
    <title>AnimeSatu | Download Anime terbaru, action, comedy, harem, ecchi | oploverz, awsubs, samehadaku, tonansubs, melodysubs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="row">
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
